html, body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('images/whitey.png');
    background-repeat: repeat;
}

#header {

}

#console {
    position: absolute;
    background: rgba(0, 0, 0, .4);

    width: 25%;
    -webkit-transition-property: width;
    -webkit-transition-duration: .5s;
    -webkit-transition-delay: .2s;

    height: 100%;
    border-right: 1px solid black;

    /* correct ace gutter */
    
    margin-left: -17px;
}

#console.closed {
  -webkit-transition-property: width;
  -webkit-transition-duration: .5s;
  -webkit-transition-delay: .2s;
  width: 16px;
}

#swt {
    background: url('images/glyphicons_280_settings.png') no-repeat;
    background-size: 75%;
    cursor: pointer;
    top: 2em;
    left: 1em;
    width: 2em;
    height: 2em;
    position: fixed;
}
#swt.closed {
    opacity: .7;
}
select[name=axioms] {
    margin-top: 1.5em;
    margin-left: 4.5em;
}

canvas {
    width: 100%;
    height: 100%;
    float: right;
    overflow: hidden;
}

